body{
 background-color: rgb(240,240,240);
}

.buttonsFilter{
    margin-top: 20%;
}

.MuiDrawer-paper{
  width: 30%;
}

.titleInit {
    margin-left: 10%;
    font-weight: bold;
    color: #245E7C;
    font-size: 1.889em;
}

.accordionHeader,.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: rgba(217, 217, 217, 0.83) !important;
}

.pagination{
    width: fit-content;

}

.listInfoHeader {
    display: flex;
}

.search-container {
     background-color: rgba(230, 228, 226) !important;
}

#h1 {
 font-family: 'neutra_text', Helvetica, Arial, sans-serif;
}

.subtitle_info{
    font-family: 'neutra_text', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    color: #245E7C !important;
    font-size: 1.889em !important;
}

.MuiChip-root {
    width: fit-content;
}

.css-rorn0c-MuiTableContainer-root {
    width: fit-content !important;
}